<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:title) %> Articles: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'jquery.blockUI', 'jquery.livequery', 'jqModal', 'jqDnR', 'dimensions', 'application' %>
          <script type="text/javascript"><%= @content_for_function_scripts -%> </script>
        <%= @content_for_styles -%>
        <style type="text/css"><%= @content_for_page_styles %></style>
<%= yield(:head) %>
</head>
<body>
    <div id="modal_window">
	<div id="inner_content">
	<!-- modal window used for ajax dialogs -->
	</div>
</div>
<h1>jQuery and jQModal, 6 Steps to unobtrusive javascript</h1>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
